/* * {
    border: 2px dotted teal;
} */

body {
    margin: 0;
    background-image: url('../images/bg1.png');
    background-size: 100vh;
    /* height: 100vh; */
}

nav {
    background: black;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 10px solid teal;
    height: 10vh;
}

#logo {
    position: relative;
    bottom: -20px;
    left: 100px;
    transform: rotate(-10deg);
    z-index: 3;
}

#asteroid {
    width: 50px;
    position: absolute;
    opacity: 0;
    top: 40px;
    left: 500px;
    z-index: 2;
    animation: asteroid 60s infinite;
}

@keyframes asteroid {
    0% {
        z-index: 4;
        top: 30px;
        left: 500px;
        opacity: .5;
        filter: drop-shadow(5px 5px 5px black);
    }

    1% {
        opacity: 1;
    }

    18% {
        opacity: 1;
    }

    21% {
        top: 150px;
        left: 30px;
        opacity: 0;
        width: 50px;
    }

    45% {
        z-index: 4;
        opacity: 0;
        top: -140px;
        left: 500px;
    }

    51% {
        z-index: 2;
        opacity: .5;
        top: -140px;
        left: 500px;
        width: 100px;
    }

    52% {
        opacity: 1
    }

    70% {
        width: 100px;
        opacity: 1;
        top: 80px;
        left: -10px;
    }

    71% {
        z-index: 2;
        width: 100px;
        opacity: 0;
        top: 80px;
        left: -10px;
    }

    80% {
        z-index: 4;
        opacity: 0;
        top: -100px;
        left: 500px;
        width: 115px;
    }

    81% {
        opacity: 1;
    }

    89% {
        opacity: 1;
    }

    100% {
        z-index: 4;
        opacity: 0;
        top: 80px;
        left: -40px;
        width: 115px;
        filter: drop-shadow(5px 5px 5px black);
    }
}

#logoCir {
    position: absolute;
    z-index: 1;
    height: 160px;
    width: 268px;
    bottom: -83px;
    left: 78px;
    background: black;
    border-radius: 50%;
    border-left: 10px solid teal;
    border-right: 10px solid black;
    border-bottom: 10px solid teal;
}

.logo {
    position: absolute;
    bottom: -140px;
    left: 32px;
    z-index: 1;
    width: 500px;
    height: 250px;
    /* border: 2px solid orange; */
}

#logo div {
    text-align: center;
    border-radius: 8px;
    width: 40%;
}

#logo h1 {
    margin: 0;
    width: 275px;
    left: 40px;
    font-size: .95rem;
    color: whitesmoke;
    text-shadow: 0px 0px 5px black, -2px 2px 1px silver;
    font-style: italic;
    padding: 5px 10px;
    position: relative;
    border-radius: 0 50px 50px 0;
    /* border-top: 5px dotted black;
    border-left: 5px solid black; */
    border-right: 2px solid teal;
    /* border-right: 2px solid silver; */
    /* border-bottom: 7px solid #4a4444; */
    border-bottom: 7px solid teal;
    background: repeating-linear-gradient(45deg, silver, black 300px);
}

#logo div h3 {
    margin: 0;
    font-size: 1rem;
}

#logoTop {
    transform: skewX(50deg);
    border-top: 8px solid teal;
    /* border-top: 8px solid #4a4444; */
    border-left: 2px solid #4a4444;
    border-right: 3px solid silver;
    border-bottom: 5px solid black;
    height: 20px;
    background: repeating-linear-gradient(45deg, silver, black 111px);
}

#logoBottom {
    transform: skewX(-50deg);
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 3px solid silver;
    border-bottom: 8px solid teal;
    /* border-bottom: 8px solid #4a4444; */

    background: black;
    height: 20px;
    background: repeating-linear-gradient(45deg, silver, black 111px);
}

#logoBottom h3 {
    transform: skewX(40deg);
    color: black;
}

#links a,#links button {
    background: black;
    border-top: none;
    border-right: none;
    border-left: none;
    color: teal;
    margin: 0 20px;
    border-radius: 8px;
    font-size: 1.4vmax;
    text-decoration: none;
    font-family: sans-serif;
    border-bottom: 7px solid rgb(124, 38, 38);
}

#links a:hover {
    filter: brightness(2);
}

#title {
    margin: 210px auto 2vh auto;
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 2000px;
    border-radius: 25px;
    border: 1px solid teal;
    background: linear-gradient(215deg, black 48%, teal 60%);
    /* height: 10vh; */
}

#title h1 {
    color: white;
    margin: auto;
    padding: 10px;
    font-size: 3vmax;
    text-shadow: 0px 0px 5px black, -2px 2px 1px silver;
}

main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 2000px;
    position: relative;
    z-index: 2;
    margin: 35px auto;
}

#carouselContainer {
    background: black;
    height: 55vh;
    padding: 2%;
    width: 60%;
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid teal;
}

#carousel {
    margin: 0 auto;
    overflow: hidden;
    background: repeating-linear-gradient(35deg, silver, black 1px);
    border-radius: 25px;
    height: 40vh;
    width: fit-content;
    max-width: 90%;
}

#carousel img {
    height: 100%;
    width: 100%;
}

#typeDiv {
    position: relative;
    z-index: 1;
    color: white;
    margin: 0 auto;
    /* height: 170px; */
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    width: 100%;
    padding: 10px 0;
    text-anchor: middle;
    overflow: hidden;
    /* animation: type 11.5s; */
}

#typeDiv:hover #rewind {
    cursor: pointer;
}

#rewind {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#rewind h1 {
    margin-left: 10px;
}

#typeDiv:hover #forward {
    cursor: pointer;
}

#forward {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

#forward h1 {
    margin-right: 10px;
}

#titleDiv {
    font-family: Abril Fatface, Arial, sans-serif;
}

#speechTitle {
    text-align: center;
    color: cornflowerblue;
    font-family: Abril Fatface, Arial, sans-serif;
    font-size: 2rem;
    margin: 0;
}

.type {
    position: relative;
    width: 90%;
    overflow: hidden;
    text-align: center;
    padding: 1% 0%;
    margin: 0% auto;
    height: 7.5rem;
    color: white;
    font-size: .9rem;
}

.type p {
    color: white;
    width: 95%;
    margin: 0 auto;
}

#text {
    color: white;
}

#offersDiv {
    height: 55vh;
    text-align: center;
    width: 28%;
    padding: 2%;
    border-radius: 25px;
    background: black;
    color: white;
    border: 1px solid teal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
}

#class35, #class65, #class250 {
    display: flex;
    text-align: center;
    font-size: 3vh;
    font-weight: 600;
    width: 30%;
    align-items: center;
    height: 10%;
    border-radius: 12px;
    border: 1px solid silver;
    justify-content: space-evenly;
    box-shadow: -3px -3px 1px silver;
    filter: contrast(0);
}

#offersDiv button:hover {
    cursor: pointer;
}

#scheduleBtn {
    width: 100%;
    height: 10%;
    border-radius: 12px;
    border: 1px solid silver;
    justify-content: space-evenly;
    box-shadow: -3px -3px 1px silver;
    font-size: 2vmax;
    font-weight: 900;
}

#offersDiv hr {
    width: 100%;
    background: silver;
    height: 5px;
    border-radius: 8px;
}

table {
    width: 100%;
}

table * {
    /* border: 2px solid red; */
}

tr>td {
    width: 25%;
}

.class250 {
    accent-color: #0277bd;
}

.class65 {
    accent-color: #007d7d;
    ;
}

.class35 {
    accent-color: #7e2832;
}

.scheduleBtn {
    background: transparent;
    border-radius: 12px;
}

.scheduleBtn:hover {
    cursor: pointer;
}

.scheduleBtn:active {
    transform: scale(.95);
    filter: unset;
}

#class250 {
    color: white;
    background: #0277bd;
}

#class65 {
    color: white;
    background: #007d7d;
}

#class35 {
    color: white;
    background: #7e2832;
}

.color3 {
    color: white;
    background: #0277bd;
    text-shadow: 0px 0px 5px black, -2px 2px 1px silver;
}

.color2 {
    color: white;
    background: #007d7d;
    text-shadow: 0px 0px 5px black, -2px 2px 1px silver;
}

.color1 {
    color: white;
    background: #7e2832;
    text-shadow: 0px 0px 5px black, -2px 2px 1px silver;
}

#scheduleBtnDiv {
    width: 100%;
    height: fit-content;
}


.myModal {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 0;
    z-index: 4;
    background: rgba(0, 0, 0, 0.71);
    animation: myModal 1.5s;
}

@keyframes myModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 5% auto;
    width: 1100px;
}

.close {
    position: absolute;
    color: #aaa;
    font-size: 60px;
    font-weight: bold;
    width: fit-content;
    top: -20px;
    right: 20px;
    z-index: 2;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width:1280px) and (max-height:800px) {

    #links a {
        font-size: 1.8vmax;
    }

    #title {
        margin: 140px 5% 2vh auto;
        width: 58%;
    }

    #carousel {
        margin: 0 auto;
    }

    .type {
        padding: 1% 0%;
        font-size: 0.85rem;
    }
}

@media screen and (max-width:1280px) and (max-height:600px) {
    #title {
        margin: 120px 5% 2vh auto;
    }

    /* #offersDiv {
        position: relative;
        height: 63vh;
        top: -7vh;
    } */

    main {
        margin: 35px auto;
    }

    #speechTitle {
        text-align: center;
        color: cornflowerblue;
        font-family: Abril Fatface, Arial, sans-serif;
        font-size: 1.5rem;
        margin: 0;
    }

    .type {
        padding: 1% 0%;
        font-size: 0.5rem;
    }
}

@media screen and (max-width:950px) and (max-height:450px) {
    nav {
        height: 12vh;
    }

    #logo {
        position: relative;
        bottom: -24px;
        left: 60px;
        transform: rotate(-10deg);
        z-index: 3;
    }

    #logo h1 {
        width: 225px;
    }

    #title {
        margin: 75px 2% 2vh auto;
        border-radius: 12px;
    }

    main {
        margin: 20px auto;
        width: 97%;
    }

    #logoCir {
        position: absolute;
        bottom: -83px;
        left: 20px;
    }

    .logo {
        left: -26px;
    }

    #offersDiv hr {
        height: 1px;
    }

    tr>td {
        font-size: 0.7rem;
    }

}

@media screen and (max-width:700px) and (max-height:300px) {
    #logo {
        position: relative;
        bottom: -24px;
        left: 30px;
        transform: rotate(-10deg);
        z-index: 3;
    }

    .logo {
        left: -105px;
        fill: red;
    }

    #logo h1 {
        width: 125px;
        font-size: .5rem;
    }

    #logo div {
        width: 30%;
        height: 12px;
        font-size: .5rem;
        position: relative;
        left: 27px;
    }

    #logoCir {
        position: absolute;
        bottom: -60px;
        left: 20px;
        width: 190px;
        height: 100px;
    }
}
