/* * {
    border: 2px dotted red;
} */

body {
    margin: 0;
}

nav {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    color: white;
    position: relative;
    border-bottom: 10px solid red;
}

#logo {
    position: relative;
    bottom: -20px;
    left: 100px;
    transform: rotate(-10deg);
    z-index: 2;
}

#logoCir {
    position: absolute;
    z-index: 1;
    height: 160px;
    width: 268px;
    bottom: -83px;
    left: 78px;
    background: black;
    border-radius: 50%;
    border-left: 10px solid red;
    border-right: 10px solid black;
    border-bottom: 10px solid red;
}

.logo {
    position: absolute;
    bottom: -140px;
    left: 32px;
    z-index: 2;
    width: 500px;
    height: 250px;
    /* border: 2px solid orange; */
}

#logo div {
    text-align: center;
    border-radius: 8px;
    width: 40%;
}

#logo h1 {
    margin: 0;
    left: 40px;
    font-size: 1.5rem;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    font-style: italic;
    padding: 5px 10px;
    position: relative;
    border-radius: 0 50px 50px 0;
    /* border-top: 5px dotted black;
    border-left: 5px solid black; */
    border-right: 2px solid teal;
    /* border-right: 2px solid silver; */
    /* border-bottom: 7px solid #4a4444; */
    border-bottom: 7px solid teal;
    background: repeating-linear-gradient(45deg, silver, black 300px);
}

#logo div h3 {
    margin: 0;
    font-size: 1rem;
}

#logoTop {
    transform: skewX(50deg);
    border-top: 8px solid teal;
    /* border-top: 8px solid #4a4444; */
    border-left: 2px solid #4a4444;
    border-right: 3px solid silver;
    border-bottom: 5px solid black;
    height: 20px;
    background: repeating-linear-gradient(45deg, silver, black 111px);
}

#logoBottom {
    transform: skewX(-50deg);
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 3px solid silver;
    border-bottom: 8px solid teal;
    /* border-bottom: 8px solid #4a4444; */

    background: black;
    height: 20px;
    background: repeating-linear-gradient(45deg, silver, black 111px);
}

#logoBottom h3 {
    transform: skewX(40deg);
    color: black;
}

#speed1 {
    opacity: 0;
    animation: speed 4.1s infinite ease-in-out;
}

#speed2 {
    opacity: 0;
    animation: speed 4.3s 1s infinite ease-in-out;
}

#speed3 {
    opacity: 0;
    animation: speed 4.5s 1.5s infinite ease-in-out;
}


@keyframes speed {
    20% {
        opacity: 1;
        /* left: 40px; */
    }
    80% {
        opacity: .2;
        left: 0px;
        top: 14px
    }
    100% {
        left: 0px;
        top: 14px
    }
}


#links * {
    height: 50px;
    margin: 0 20px;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: sans-serif;
    border-bottom: 5px solid teal;
}




