/* * {
    border: 2px dotted teal;
} */

body {
    margin: 0;
    background: rgb(216, 141, 3);
    background-image: url('../images/bg1.png');
    background-size: 100vh;
}

nav {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    border-bottom: 10px solid teal;
}

#logo {
    position: relative;
    bottom: -20px;
    left: 100px;
    transform: rotate(-10deg);
    z-index: 3;
}

#asteroid {
    width: 50px;
    position: absolute;
    opacity: 0;
    top: 40px;
    left: 500px;
    z-index: 2;
    animation: asteroid 60s infinite;
}

@keyframes asteroid {
    0% {
        z-index: 4;
        top: 30px;
        left: 500px;
        opacity: .5;
        filter: drop-shadow(5px 5px 5px black);
    }

    1% {
        opacity: 1;
    }

    18% {
        opacity: 1;
    }

    21% {
        top: 150px;
        left: 30px;
        opacity: 0;
        width: 50px;
    }

    45% {
        z-index: 4;
        opacity: 0;
        top: -140px;
        left: 500px;
    }
    
    51% {
        z-index: 2;
        opacity: .5;
        top: -140px;
        left: 500px;
        width: 100px;
    }

    52% {
        opacity: 1
    }

    70% {
        width: 100px;
        opacity: 1;
        top: 80px;
        left: -10px;
    }

    71% {
        z-index: 2;
        width: 100px;
        opacity: 0;
        top: 80px;
        left: -10px;
    }

    80% {
        z-index: 4;
        opacity: 0;
        top: -100px;
        left: 500px;
        width: 115px;
    }

    81% {
        opacity: 1;
    }

    89% {
        opacity: 1;
    }
    
    100% {
        z-index: 4;
        opacity: 0;
        top: 80px;
        left: -40px;
        width: 115px;
        filter: drop-shadow(5px 5px 5px black);
    }
}

#logoCir {
    position: absolute;
    z-index: 1;
    height: 160px;
    width: 268px;
    bottom: -83px;
    left: 78px;
    background: black;
    border-radius: 50%;
    border-left: 10px solid teal;
    border-right: 10px solid black;
    border-bottom: 10px solid teal;
}

.logo {
    position: absolute;
    bottom: -140px;
    left: 32px;
    z-index: 1;
    width: 500px;
    height: 250px;
    /* border: 2px solid orange; */
}

#logo div {
    text-align: center;
    border-radius: 8px;
    width: 40%;
}

#logo h1 {
    margin: 0;
    left: 40px;
    font-size: 1.5rem;
    color: whitesmoke;
    text-shadow: 1px 1px 1px black;
    font-style: italic;
    padding: 5px 10px;
    position: relative;
    border-radius: 0 50px 50px 0;
    /* border-top: 5px dotted black;
    border-left: 5px solid black; */
    border-right: 2px solid teal;
    /* border-right: 2px solid silver; */
    /* border-bottom: 7px solid #4a4444; */
    border-bottom: 7px solid teal;
    background: repeating-linear-gradient(45deg, silver, black 300px);
}

#logo div h3 {
    margin: 0;
    font-size: 1rem;
}

#logoTop {
    transform: skewX(50deg);
    border-top: 8px solid teal;
    /* border-top: 8px solid #4a4444; */
    border-left: 2px solid #4a4444;
    border-right: 3px solid silver;
    border-bottom: 5px solid black;
    height: 20px;
    background: repeating-linear-gradient(45deg, silver, black 111px);
}

#logoBottom {
    transform: skewX(-50deg);
    border-top: 5px solid black;
    border-left: 5px solid black;
    border-right: 3px solid silver;
    border-bottom: 8px solid teal;
    /* border-bottom: 8px solid #4a4444; */

    background: black;
    height: 20px;
    background: repeating-linear-gradient(45deg, silver, black 111px);
}

#logoBottom h3 {
    transform: skewX(40deg);
    color: black;
}

#speed1 {
    z-index: 4;
    opacity: 0;
    animation: speed 4.1s infinite ease-in-out;
}

#speed2 {
    z-index: 4;
    opacity: 0;
    animation: speed 4.3s 1s infinite ease-in-out;
}

#speed3 {
    z-index: 4;
    opacity: 0;
    animation: speed 4.5s 1.5s infinite ease-in-out;
}


@keyframes speed {
    20% {
        opacity: 1;
        /* left: 40px; */
    }

    80% {
        opacity: .2;
        left: 0px;
        top: 14px
    }

    100% {
        left: 0px;
        top: 14px
    }
}


#links a {
    height: 50px;
    margin: 0 20px;
    color: teal;
    text-decoration: none;
    font-size: 2.2rem;
    font-family: sans-serif;
    border-bottom: 7px solid rgb(124, 38, 38);
    border-radius: 8px;
}

#links a:hover {
    filter: brightness(2);
}

#title {
    font-size: 2.8rem;
    margin: 150px auto 20px auto;
    display: flex;
    justify-content: space-around;
    color: #c0d1ee;
    width: 90%;
    max-width: 2000px;
    border-radius: 25px;
    border: 1px solid teal;
    background: linear-gradient(215deg, black 48%, teal 60%);
}

#title h1 {
    margin: 20px 0;
}

main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 2000px;
    margin: 40px auto;
}

#carouselContainer {
    background: black;
    padding: 0 20px;
    width: 48%;
    max-width: 900px;
    overflow: hidden;
    border-radius: 25px;
    border: 1px solid teal;
}

#carousel {
    margin: 75px auto 50px;
    overflow: hidden;
    background: repeating-linear-gradient(35deg, silver, black 1px);
    border-radius: 25px;
    height: 25vh;
    width: fit-content;
    max-width: 90%;
}

#carousel img {
    height: 100%;
    width: 100%;
}

#typeDiv {
    position: relative;
    z-index: 1;
    color: white;
    margin: 0 auto;
    /* height: 170px; */
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    width: 100%;
    padding: 10px 0;
    text-anchor: middle;
    overflow: hidden;
    /* animation: type 11.5s; */
}

#typeDiv:hover #rewind {
    cursor: pointer;
}

#rewind {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}

#rewind h1 {
    margin-left: 10px;
}

#typeDiv:hover #forward {
    cursor: pointer;
}

#forward {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

#forward h1 {
    margin-right: 10px;
}

#titleDiv {
    font-family: Abril Fatface, Arial, sans-serif;
}

#speechTitle {
    text-align: center;
    color: cornflowerblue;
    font-family: Abril Fatface, Arial, sans-serif;
    font-size: 2rem;
    margin: 0;
}

.type {
    position: relative;
    width: 90%;
    overflow: hidden;
    /* background: white; */
    /* margin: 0% 0 5% 10%; */
    text-align: center;
    padding: 5% 0%;
    margin: 0% auto;
    height: 7.5rem;
    color: white;
    font-size: 1.3rem;
}

.type p {
    color: white;
    width: 95%;
    margin: 0 auto;
}

#text {
    color: white;
}

#offersDiv {
    text-align: center;
    width: 48%;
    max-width: 900px;
    max-width: 900px;
    padding: 20px;
    border-radius: 25px;
    background: black;
    color: white;
    border: 1px solid teal;
}

#offersBtns {
    display: flex;
    justify-content:space-evenly;
}

#offersBtns button h1 {
    filter: contrast(.1);
    margin: 0;

}

#offersBtns button:hover {
    cursor: pointer;
}

#offersBtns button {
    text-align: center;
    background: none;
    font-size: 3rem;
    border: 1px solid silver;
    padding: 25px;
    border-radius: 12px;
    box-shadow: -3px -3px 1px silver;
    margin-top: 25px;
}

#details {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

#details * {
    width: 24%;
}

#details hr {
    width: 100%;
    height:15px;
    background:linear-gradient(gray,black 30px);
    border-radius:50px;
    margin: 50px 0;
}

#details input {
    transform: scale(.4);
}

.class35 {
    accent-color: #0277bd;
}

.class65 {
    accent-color: #007d7d;;
}
.class250 {
    accent-color: #7e2832;
}

#scheduleBtn button {
    border: 1px solid silver;
    box-shadow: -3px -3px 1px silver;
    height: 6rem;
    font-weight: 900;
}

.scheduleBtn {
    background: transparent;
    border-radius: 12px;
    width: 90%;
    line-height: .5;
    font-size: 4.5rem;
}

.scheduleBtn:hover {
    cursor: pointer;
}

.scheduleBtn:active {
    transform: scale(.95);
    filter: unset;
}

#class35{
    color: #0277bd;
}

#class65{
    color: #007d7d;
}

#class250{
    color: #7e2832;
}

.color1 {
    color: #0277bd;
}

.color2 {
    color: #007d7d;
}

.color3 {
    color: #7e2832;
}


.myModal {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    padding-top: 0;
    z-index: 4;
    background: rgba(0, 0, 0, 0.71);
    animation: myModal 1.5s;
}

@keyframes myModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin: 5% auto;
    width: 1100px;
}

.close {
    position: absolute;
    color: #aaa;
    font-size: 60px;
    font-weight: bold;
    width: fit-content;
    top: -20px;
    right: 20px;
    z-index: 2;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
