body {
    height: 124vh;
}

.img {
    border: 2px solid black;
    border-radius: 12px;
    padding: 0;
}

#topDiv {
    height: 75vh;
    padding-top: 1vh;
    background-image: linear-gradient(10deg, transparent 45%,darkcyan,black);
    background-size: 100% 75%;
    background-repeat: no-repeat;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    transform: skewX(40deg);
    width: 600px;
    box-shadow: -25px 15px 5px gray;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    border-radius: 15px 15px;
    padding: 10px 40px;
    text-anchor: middle;
}

#title h4, #title a {
    transform: skewX(-40deg);
}

.modal-dialog {
    max-width: 80%;
}

.accordion {
    width: 20rem;
    margin: 0 auto;
}

.sessions {
    margin-top: 15vh;
    text-shadow: 5px 5px 5px black;
}

.team {
    background-image: url('./images/team.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: black;
    padding: 10%;
}

.leaflet {
    background-image: url('./images/leaflet.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: black;
    padding: 10%;
}

.vba {
    background-image: url('./images/vba0.jpg');
    color: black;
    padding: 10%;
}

.firebase {
    background-image: url('./images/firebase1.jpg');
    background-size: 100% 135%;
    background-repeat: no-repeat;
    background-position-y: 100%;
    color: black;
    padding: 10%;
}

.vba div, .team div, .leaflet div, .firebase div {
    background-color: #fff;
    padding: 2%;
    opacity: .85;
    box-shadow: 5px 5px 20px;
}
.python {
    background-image: url('./images/python0.png');
    background-size: 110% 100%;
}


@media screen and (max-width: 576px) {
    
    #topDiv {
        height: auto;
        padding-top: auto;
    }

    #title {
        transform: skewX(0deg);
        width: auto;
        box-shadow: none;
        border: none;
        border-radius: 0px;
        padding: 0;
    }
    
    #title h4 {
        transform: skewX(0deg);
        font-size: 1rem;
 /   }
}